parameters:
	ignoreErrors:
		-
			message: "#^Comparison operation \"\\<\" between 7 and 5 is always false\\.$#"
			count: 1
			path: app/Http/Controllers/CheckoutController.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: app/Http/Controllers/CheckoutController.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 1
			path: routes/console.php
